@model Electro_E_Store.Models.tb_Admin
@{
    ViewBag.Title = "EditProfile";
    Layout = "~/Views/Shared/_LayoutBasic_Admin.cshtml";
}


<div class="login-wrap d-flex align-items-center flex-wrap justify-content-center">
    <div class="container">
        @if (ViewData["success"] != null)
        {
            <div class="alert alert-success alert-dismissible fade show" role="alert">
                <strong>@ViewData["success"]</strong>
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
        }
        <div class="row align-items-center">
            <div class="col-md-6 col-lg-7">
                <img src="/Templates/Admin/vendors/images/login-page-img.png" alt="">
            </div>
            <div class="col-md-6 col-lg-5">
                <div class="login-box bg-white box-shadow border-radius-10">
                    <div class="login-title">
                        <h2 class="text-center text-primary">Edit Profile</h2>
                    </div>
                    @using (Html.BeginForm("EditProfile", "Admin", FormMethod.Post))
                    {
                        @Html.HiddenFor(model => model.admin_id)
                        @Html.HiddenFor(model => model.join_date)
                        @Html.HiddenFor(model => model.verified_user)

                        @Html.ValidationMessageFor(model => model.admin_name, "", new { @class = "text-danger small font-weight-bold" })
                        <div class="input-group custom">
                            @Html.TextBoxFor(model => model.admin_name, "", new { @type = "text", @placeholder = "username", @class = "form-control form-control-lg" })
                            <div class="input-group-append custom">
                                <span class="input-group-text"><i class="icon-copy dw dw-user1"></i></span>
                            </div>
                        </div>
                        @*@Html.ValidationMessageFor(model => model.admin_email, "", new { @class = "text-danger small font-weight-bold" })*@
                        <div class="input-group custom">
                            @Html.TextBoxFor(model => model.admin_email, "", new { @type = "email", @placeholder = "Email Address", @class = "form-control form-control-lg", @readonly = "readonly" })
                            <div class="input-group-append custom">
                                <span class="input-group-text"><i class="icon-copy dw dw-email1"></i></span>
                            </div>
                        </div>
                        @Html.ValidationMessageFor(model => model.a_password, "", new { @class = "text-danger small font-weight-bold" })
                        <div class="input-group custom">
                            @Html.TextBoxFor(model => model.a_password, "", new { @type = "password", @placeholder = "***********", @class = "form-control form-control-lg" })
                            <div class="input-group-append custom">
                                <span class="input-group-text"><i class="dw dw-padlock1"></i></span>
                            </div>
                        </div>
                        @Html.ValidationMessageFor(model => model.contact_no, "", new { @class = "text-danger small font-weight-bold" })
                        <div class="input-group custom">
                            @Html.TextBoxFor(model => model.contact_no, "", new { @type = "tel", @placeholder = "Contact no. as 0333-1234567", @class = "form-control form-control-lg" })
                            <div class="input-group-append custom">
                                <span class="input-group-text"><i class="icon-copy dw dw-phone-call"></i></span>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-sm-12">
                                <div class="input-group mb-0">
                                    <input class="btn btn-primary btn-lg btn-block" type="submit" value="Save Changes">
                                </div>

                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
</div>
